* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
}

h1,
h2 h3,
h4,
h5,
h6 {

    font-weight: 700;
    font-family: Montserrat;

}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.img-fluid {

    max-width: 340px;
    height: auto;
}


.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}



.text-uppercase {
    text-transform: uppercase;
}

/* Navbar*/

nav {
    width: 100%;
    font-family: Montserrat;
    background-color: #6F4E37;
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: fixed;
    z-index: 500;

}

#logo-box {
    float: left;
    padding-top: 0.5rem;
}


#logo-box .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2.8rem;
}

#nav-links {
    float: right;
}

#nav-links .nav-item {
    float: left;
    margin: 0.5rem;
}


#nav-links .nav-link {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    padding: 1.6rem;
    letter-spacing: 0.1rem;
    transition: color 0.4s;

}

#nav-links .nav-link:hover {
    color: #D2B48C;
}

header {
    background-color: #D2B48C;
    height: 700px;
    padding-top: calc(106px + 6rem);
    text-align: center;

}

header h1 {
    color: #fff;
     font-size: 6rem;


}

@import url(//fonts.googleapis.com/css?family=Lato:100,300,300i,400);

body {
    box-sizing: border-box;
    font-family: Lato, Arial;
    text-align: center;
    color: #eee;
    background-color: #000;

}

h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    color: #eee;
    font-weight: 400;
    text-align: center;
    font-size: 200%;
    letter-spacing: 4px;
}

h4 {
    margin-top: 1em;
    color: #eee;
    font-size: 150%;
    font-weight: 300;
    text-align: center;
}


input {
    display: block;
    width: 98%;
    height: 30px;
    margin-top: 1.0em;
    padding: 4px;
}

small {
    display: inline-block;
    margin-top: 5px;
    color: white;
    font-size: 100%;
    color: #fff;
}



#btn-forgot {
    display: block;
    width: 100%;
    margin-top: 1.0em;
    border-radius: 2px;
    color: #fff;
    background-color: #000D36;
}

hr.star-dark {
    border-color: #6F4E37;

}

.star-light,
.star-dark {
    border: none;
    border-top: 0.4rem solid #fff;
    max-width: 25rem;
    border-radius: 10px;
    margin: 2.5rem auto;
    overflow: visible;
    height: 0;

}

.star-light::after {
    content: "\2605";
    color: #fff;
    font-weight: 900;
    font-size: 3.2rem;
    top: -30px;
    padding: 0 8px;
    position: relative;
    background-color: #D2B48C;


}

#hakkimda {

    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
    background-color: aliceblue;



}

#hakkimda h2 {
    font-size: 4.8rem;
    color: #6F4E37;

}

.img-fluid-p {
    max-width: 80%;
    height: auto;




}

.col {
    float: left;
    width: 33.333%;
    padding: 10px;
    height: 300px;
    background-color: aliceblue;


}

.hakkimda-item {}

#resimdüzenle {
    height: 300px;
    width: 300px;

}

#hakkimda-yazı {
    background-color: aliceblue;
    color: #6F4E37;

}

#hakkimda-yazı h1 {
    font-size: 2.0rem;

}

#hakkimda-yazı .text {
    font-size: 1.8rem;
    padding-left: 30rem;
    padding-right: 30rem;
    padding-bottom: 20rem;
    color:#6F4E37;


}

#sehrim {
    padding: 50px;
    background-color: #D2B48C;
    color: #6F4E37;
}

#sehrim .text-1 {
    font-size: 1.8rem;



}

.copyright {
    background-color: #6F4E37;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    color: #fff;
    text-align: center;




}