@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    color: #162938;
}

body {
    background-color: #C0C0C0;
}

.card {
    background-color: #708090;
}

h1 {
    text-align: center;
    font-size: 3em;
    font-weight: 750;
}

h3 {
    font-weight: 750;
    text-align: center;
}
p {
    font-size: 1.1em;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
    transform: scale(0.9);
}

.container .row {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    border-radius: 30px;
}

.card-img-top {
    border-radius: 30px;
    height: 745px;
}